.footer {
	min-width: var(--min-view);
	background-color: var(--footer-background);
	font-size: 1.125rem;

	&__nav {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: var(--max-view);
		width: 100%;
		padding: 1.2em 0.8em;
		background-color: var(--navbar-footer-background);

		@media (min-width: 40rem) {
			padding-left: 1.8em;
			padding-right: 1.8em;
		}
	}

	&__toMail {
		background-color: transparent;
		border-radius: var(--border-6);
		border-color: transparent;

		@media (hover: hover) {
			&:hover {
				filter: drop-shadow(0 0 3px var(--drop-shadow));
			}
		}

		@media (hover: none) {
			&:active {
				filter: drop-shadow(0 0 3px var(--drop-shadow));
			}
		}
	}
}
